@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-principal: #EB9B00;
    --azul-principal: #002F52;
    --azul-secundario: #326589;
    --cor-secundaria: linear-gradient(97.54deg, var(--azul-principal) 35.49%, var(--azul-secundario) 165.37%);
    --cor-fundo: #C4C4C4;
    --preto: #000000;
    --branco: white;
    --cor-subtitulo: #858585;
    --cor-letras-hover: rgb(67, 67, 67);
    --fonte-principal:"Poppins", sans-serif;
    --fonte-secundaria: "Josefin Sans", sans-serif;
}

body{
    background-color: var(--cor-fundo);
    box-sizing: border-box;
}

.subtitulo{
    font-family: var(--fonte-principal);
    font-size: 1.25rem;
    color: var(--cor-principal);
    text-align: center;
    padding: 1.25rem 0 0.5rem 0;
    background-color: var(--branco);
}

.ultimos_lancamentos{
    display: flex;
    gap: 100px;
    padding: 5%;

}
