.swiper-slide img{
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

.card{
    margin: 1em;
    background-color: var(--branco);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
}

.card__descricao{
    display: flex;
    align-items: center ;
}

.descricao{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: var(--fonte-principal);
}

.descricao__imagem{
    height: 15px;
    width: 91px;
}

.descricao__titulo{
    color: var(--cor-principal);
    font-size: 1rem;
}

.descricao__subtitulo{
    color: var(--azul-principal);
    font-size: 1.05rem;
}

.descricao__paragrafo{
    font-size: 0.8rem;
    font-family: var();
}

.card__box{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 1rem 1rem ;
    align-items: center;
}

.card__box__img{
    display: flex;
    gap: 2em;
}


.card__box__saiba-mais{
    text-decoration: none;
    background-color: var(--cor-principal);
    padding: 1em 3.5em;
    color: var(--branco);
    font-weight: 700;
    font-size: 14px;
}

@media screen and (min-width:1024px) {
    .swiper-pagination{
        margin: 2em 0 3em 0;
    }

    .swiper{
        width: 60%;
    }

    .card {
        width: 40%;
        margin: 2em auto;
    }
}


@media screen and (min-width: 1728px){
    .area-vendas{
        display: flex;
        margin: 0 20vw 3em 20vw;
        align-items: center;
        gap: 5em;
    }

    .swiper{
        width: 50%;
    }

    .swiper-pagination{
        margin: 0;   
    }

    .card{
        width: 40%;
    }

}