.lista-topicos{
    display:flex;
    flex-direction: column;
    background: var(--cor-secundaria);
    text-align: center;
    color: var(--branco);
    font-family: var(--fonte-principal);
}

.lista-topicos__titulo{
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem;
}

.lista-topicos__botoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.botoes__link{
    margin: 0.5em 0.5em;
    text-decoration: none;
    color: var(--branco);
    padding: 1em 1.5em;
    background-color: var(--cor-principal);
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .lista-topicos__botoes{
        padding: 0 12em;
    }
}