.rodape{
    display: flex;
    align-items: baseline;
    gap: 3rem;
}

.rodape__titulo{
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    padding: 1em;
}

.rodape__divisao{
    display: none;
    gap: 20px;
}

.rodape__divisao__subtitulo{
    font-size: 14px;
    color: var(--cor-subtitulo);
}

.rodape__tokens{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--cor-letras-hover);
}

@media screen and (min-width: 1024px) {
    .rodape__divisao{
        display: flex;
        flex-direction: column;
    }
    
    .rodape__titulo{
        font-size: 24px;
    }

}

@media screen and (min-width: 1728px){

    .rodape{
        justify-content: space-evenly;
    }
}